/* -----------------NAVBAR---------------------*/
.icon-image {
    width: 40px;
    height: 40px;
    background-color: white;
}

.com-bar {
    background-color: royalblue;
}

/* -----------------FOOTER---------------------*/
.big-footer {
    background-color: #1895E1;
    color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.small-footer {
    background-color: #1874E1;
    color: white;
}

.about-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.about-list-item > a {
    color: #000;
    text-decoration: none;
}

.about-list-item > a:hover {
    color: #fff;
}
