/* *********************** */
/*          HEADER         */
/* *********************** */

.landing-header {
    margin-bottom: 2em;
}

.landing-header > h1 {
    font-weight: 700;
    color: #1895E1;
}

.landing-header > p {
    font-size: 1.5rem;
    color: #1895E1 !important;
}

.header-default {
    text-align: center;
    margin: 2em;
}

.header-default > h1 {
    font-weight: 700;
    color: #187AE1;
}

/* *********************** */
/*          BODY         */
/* *********************** */

.body-entry {
    height: 100%;
}

.elements-section {
    border: 2px solid black;
}

/* **************************** */
/*             FAQs             */
/* **************************** */

.questions-list {
    padding: 10px;
}

.question {
    padding: 1.5em 0 10px 0;
}

.line-question {
    background-color: #000;
    padding: 2px;
}

/* **************************** */
/*           ABOUT ME           */
/* **************************** */

.about-content {
    width: 100vw;
    height: 500px;
}

.img-about-custom {
    width: 200px;
    height: 200px;
}

.img-about-custom > img {
    width: 100%;
    height: 100%;
}

/* **************************** */
/*           TERMS OF SERVICE   */
/* **************************** */

.terms-space {
    width: 100vw;
    height: 500px;
}

.landing-body {
    background-color: rgb(241, 239, 239);
}

.image-card-custom {
    border: none;
}

.card-body-custom {
    background-color: #187AE1;
    color: white;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.card-body-custom-left {
    background-color: #187AE1;
    color: white;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.card-body > h2 {
    font-weight: 700;
}

.card-body > p {
    text-align: justify;
}

.card-full {
    border-radius: 25px;
    border: 2px solid gray;
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
}