/* *********************** */
/*          HEADER         */
/* *********************** */

.landing-header {
    /* padding: 10px 15% 10px 15%; */
    margin-bottom: 2em;
}

.landing-header > h1 {
    font-weight: 700;
    color: #1895E1;
}

.landing-header > p {
    font-size: 1.5rem;
    color: #1895E1 !important;
}

/* *********************** */
/*          BODY         */
/* *********************** */

.body-entry {
    height: 100%;
}

.landing-body {
    /* background-image: url('../img/book-background.jpg'); */
    background-color: rgb(241, 239, 239);
}

.image-card-custom {
    border: none;
}

.card-body-custom {
    background-color: #187AE1;
    color: white;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.card-body-custom-left {
    background-color: #187AE1;
    color: white;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.card-body > h2 {
    font-weight: 700;
}

.card-body > p {
    text-align: justify;
}

.card-full {
    border-radius: 25px;
    border: 2px solid gray;
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
}
